@import './CardBox.scss';

.Task {
  @extend CardBox;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 0 rem(10) rem(18) rgba($color: #000000, $alpha: 0.5);
    transform: scale(1.01);
  }
}
