@import '../main';

#curtain {
  @include defaultTransition();
  @extend #task-zone;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}

#todo-list {
  @include animateAll(0.2s, ease-out);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  text-align: center;
  z-index: 3;
  box-shadow: rem(2) 0 rem(18) rgba($color: #000000, $alpha: 0.3);
  height: 89vh;
  width: 25%;
  background-color: $primaryDark;

  .task-preview {
    @include defaultTransition();
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: rem(10);
    margin: rem(5);
    border-radius: 5%;
    color: white;

    &:hover {
      background-color: rgb(14, 14, 14);
      color: $buttonColor;
    }

    &::selection {
      color: $buttonColor;
    }
  }
}

@media (max-width: rem(1050)) {
  #todo-list {
    transform: translateX(-100%);
    position: fixed;
  }
}
