@import './utilities';
@import './scrollbar';

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
  background-color: $background;
  font-family: $defaultFont;
  color: white;
}

.main {
  box-sizing: border-box;
  margin-top: $headerHeight;
  display: flex;
  height: 80vh;
  width: 100%;
}

#task-zone {
  display: grid;
  z-index: 1;
  height: 100%;
  width: 75%;
  place-items: center;
  background-color: $background;
}

@media (max-width: rem(1050)) {
  #task-zone {
    width: 100%;
  }
}
